{
  "printWidth": 120,
  "trailingComma": "all",
  "svelteSortOrder": "scripts-markup-styles",
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "singleQuote": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
